/*
Theme Name: Ascend Child
Theme URI: https://github.com/example/ascend
Description: Child theme for Ascend
Author: Example Author
Author URI: https://example.com
Template: ascend
Version: 1.0.0
License: GPL v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ascend-child
*/

/* Add your custom styles here */
