/*
Theme Name: Ascend Child
Theme URI: https://themeforest.net/user/elevateworks
Description: Child theme for Ascend
Author: ElevateWorks
Author URI: https://themeforest.net/user/elevateworks
Template: ascend
Version: 1.0.0
License: GPL v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ascend-child
*/

/* Add your custom styles here */
